.carousel-wrap {
  position: relative;
  width: 100%;
  height: 690px;
  margin: 50px 0;
  overflow: hidden;
  cursor: default;
}
.carousel-wrap .carousel-elem {
  height: 100%;
}
.carousel-wrap .carousel-elem .carousel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.carousel-wrap .carousel-elem .carousel-header {
  margin: 280px auto 0;
}
.carousel-wrap .carousel-elem .carousel-header h2 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Lobster";
  font-size: 96px;
}
.carousel-wrap .carousel-elem .carousel-header h2::selection {
  background-color: transparent;
}
.carousel-wrap .carousel-elem .carousel-header h2::selection {
  color: rgb(205, 32, 38);
}
.carousel-wrap .carousel-elem p {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Lobster";
  font-size: 24px;
  font-weight: normal;
}
.carousel-wrap .carousel-elem p::selection {
  background-color: transparent;
}
.carousel-wrap .carousel-elem p::selection {
  color: rgb(205, 32, 38);
}
.carousel-wrap .banner-anim-arrow-default {
  position: absolute;
  width: 50px;
  height: 100px;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.carousel-wrap .banner-anim-arrow-default:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel-wrap .prev:before {
  transform: rotate(40deg);
  top: 24.5px;
  left: 20px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: white;
  display: block;
  content: "";
}
.carousel-wrap .prev:after {
  transform: rotate(-40deg);
  bottom: 24.5px;
  left: 20px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: white;
  display: block;
  content: "";
}
.carousel-wrap .next {
  right: 0;
}
.carousel-wrap .next:before {
  transform: rotate(-40deg);
  top: 24.5px;
  left: 20px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: white;
  display: block;
  content: "";
}
.carousel-wrap .next:after {
  transform: rotate(40deg);
  bottom: 24.5px;
  left: 20px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: white;
  display: block;
  content: "";
}
.carousel-wrap .banner-anim-arrow {
  cursor: pointer;
  z-index: 10;
}
.carousel-wrap .banner-anim-thumb-default {
  height: 40px;
  line-height: 40px;
}
.carousel-wrap .banner-anim-thumb-default span {
  width: 30px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  background-color: white;
  /* fallback color */
  background-color: hsla(0, 0%, 100%, 0.3);
  /* IE */
  background-color: transparent\9 ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=argb(hsla(0, 0%, 100%, 0.3)), endColorstr=argb(hsla(0, 0%, 100%, 0.3)));
  zoom: 1;
}
.carousel-wrap .banner-anim-thumb {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.carousel-wrap .banner-anim-thumb span {
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  list-style: none;
}
.carousel-wrap .banner-anim-thumb .active {
  background-color: white;
}

#recommend .change {
  display: inline-block;
  width: 100%;
  padding-right: 4rem;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: right;
  cursor: pointer;
}
#recommend .slick-slider {
  width: 100%;
  height: 360px;
}
#recommend .slick-slider .slick-slide {
  padding: 0 10px;
}
#recommend .slick-slider .slick-slide .product-info {
  border: none;
  box-shadow: none;
}
#recommend .slick-slider .slick-slide .product-info .header a {
  display: inline-block;
  width: 100%;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#recommend .slick-slider .slick-slide .product-info .content {
  border: none;
}
#recommend .slick-slider .slick-slide .product-info .content.extra {
  display: none;
  font-size: 14px;
}
#recommend .slick-slider .slick-slide .product-info .content.extra .market-price {
  text-decoration: line-through;
}
#recommend .slick-slider .slick-slide .product-info .content.extra .sale-price {
  color: rgb(0, 0, 0);
}

